/* Generic style */

body {
    background-color: hsl(0, 10%, 94%);
    color: hsl(0, 2%, 17%);
    line-height: 1.7;
}

/* 1.1 This deals with the navigation of the page */

/* Semantic HTML5 element - represents the navigation of the page */
nav {
    margin: .1em .2em;
    padding: .3em;
}

/* This targets only the ul elements on the main page  which are nested
inside the nav element*/
nav ul {
    list-style: none;
}

/* This changes the whole nav area into a flex container */
nav ul{
    display: flex;
    align-items: center;
    justify-content: start;
}


/* 1.2 This deals with the anchor element */
a {
    display: inline-block;
    padding-left: 1rem;
}